body {
	margin: 0;
}

.div-inLine {
	display: inline-block !important;
	margin-right: 10px
}

#header, #footer {
	background: rgb(255, 128, 128) !important;
	border-bottom: 1px solid #c8c8c8 !important;
}

.navigator-menu .ui.menu {
	background: none;
	border: none;
}

.input-search .ui-inputtext {
	width: 600 px
}

.p-grid {
	width: 100% !important;
	margin: 0 !important;
}

.ui-dataview-list .ui-dataview-row {
	border-bottom: 1px solid #A8A8A8 !important;
	padding: 25px 10px;
}

.logo {
	width: 5%;
}

.detail {
	width: 85%;
	padding-left: 25px;
}